/*
 * Add your CSS styles here
 * Added 2 columns...Need to fix up
 */

 
 /*<body style="background-color:powderblue;">
*/

body{
	
	background: #bcedf2 !important;
}


tbody {
	font-family: Helvetica, Arial, sans-serif;
	background: #f4f4f4;
}

h1, h2, h3 {
	text-indent: 5px;
	color: #222;
}

p {
	text-indent: 15px;
	word-break: break-word;
	white-space: normal;
	line-height: 24px;
	color: #555;
}
